/.idea/

/out/
/src/Data/ProfileInfo/1234.txt
/diagram.png
/src/View/font/futura.otf
/src.zip
/src/Data/ProfileInfo/userProfile/user.txt
/src/Data/VideoMapper.txt
/openjfx-11.0.2_windows-x64_bin-sdk/
/out/
